<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安装报毒测试报告</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://img.itest.info/seldom-main.css">
    <link rel="stylesheet" href="http://img.itest.info/seldom-utilities.css">
</head>
<style>
	table td {
    vertical-align: middle!important;
}
    #rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}
#rocket-to-top .level-2 {
    background: url("http://images.cnblogs.com/cnblogs_com/xujingyang/1227088/o_o_rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}
#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}
#rocket-to-top {
    background: url("http://images.cnblogs.com/cnblogs_com/xujingyang/1227088/o_o_rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}
</style>
<body>
    <h2 style="text-align: center;margin-top: 20px">华米OV安装报毒测试报告</h2>
    <br/>
	<div id="headContainer" class="container-fluid mm-active">
    <div class="row">
        <div class="col-12 col-lg-5 col-xl-4 d-flex" style="float:left;margin-left: 5%">
            <div class='card flex-fill'>
                <div class="card-body my-2">
                    <h4 class="header-title">Overview</h4>
                    <table class="table my-0">
                        <tbody>
                            <tr>
                                <td> Start Time</td>
                                <td class="text-right">{{context.create_time}}</td>
                            </tr>
                            <tr>
                                <td> Duration</td>
                                <td class="text-right">{{context.duration}}s</td>
                            </tr>

                            <tr>
                                <td>Model</td>
                                <td class="text-right">{{context.model_list}}</td>
                            </tr>
							<tr>
                                <td> Status</td>
                                <td class="text-right">Passed: {{context.status.pass}}&nbsp;&nbsp;Failed: {{context.status.fail}}</td>
                            </tr>
                            <tr>
                                <td>Virus APP</td>

                                <td class="text-right" style="display:flex;flex-wrap:wrap;text-align:right;justify-content:flex-end;">
                                    不能安装：
                                    {% for app in context.virus_list %}
                                    <a href="#{{app}}">{{app}}</a>&nbsp;
                                    {% endfor %}
                                    能安装：
                                    {% for app in context.unsure_virus_list %}
                                    <a href="#{{app}}">{{app}}</a>&nbsp;
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div style="width: 20%;margin-left: 25%">
            <div class="card" style="height: 45%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Passed</span>
                            <span class="h3 font-bold mb-0">{{context.status.pass}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white text-lg rounded-circle">P</div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm">
                        <span class="badge badge-pill bg-soft-warning text-success me-2">{{context.status.pass_rate}}%</span>
                        <span class="text-nowrap text-xs text-muted">Pass rate</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="progress" style="width:70%; margin-top: 5px;">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{context.status.pass_rate}}%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="height: 45%; top: 10%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Failed</span>
                            <span class="h3 font-bold mb-0">{{context.status.fail}}</span></div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">F</div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm">
                        <span class="badge badge-pill bg-soft-warning text-warning me-2">{{context.status.fail_rate}}%</span>
                        <span class="text-nowrap text-xs text-muted">Failure rate</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="progress" style="width:70%; margin-top: 5px;">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="83" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{context.status.fail_rate}}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <br><br>
    <table class="table table-bordered">
    <thead>
		<tr>
            <th style="text-align: center;vertical-align: middle!important"><strong>应用名称</strong></th>
			<th style="text-align: center"><img src="https://imgm.cnmo.com/manu_photo/new/0/517cbedfd2a3e.jpg" alt="华为"></th>
			<th style="text-align: center"><img src="https://imgm.cnmo.com/manu_photo/new/32/6073d6debc1af.jpg" alt="小米" title="小米"></th>
			<th style="text-align: center"><img src="https://imgm.cnmo.com/manu_photo/new/1/5c85f52f01756.jpg" alt="OPPO" title="OPPO"></th>
			<th style="text-align: center"><img src="https://imgm.cnmo.com/manu_photo/new/1/5c21d17230b15.jpg" alt="vivo" title="vivo"></th>
		</tr>
	</thead>
	<tbody style="text-align: center">
		{% for key,value in context.target_dict.items() %}
			<tr>
				<td>{{key}}<br>package_name:{{value.package_name}}<br>version_code:{{value.version_code}}<br>version_name:{{value.version_name}}</td>
				{% if value.huawei.is_virus %}
				<td><a name="{{key}}"></a><span class="label label-danger">报毒标签</span><img class="pic" src="{{value.huawei.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.huawei.address %}
				<td><img class="pic" src="{{value.huawei.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.xiaomi.is_virus %}
				<td><a name="{{key}}"></a><span class="label label-danger">报毒标签</span><img class="pic" src="{{value.xiaomi.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.xiaomi.address %}
				<td><img class="pic" src="{{value.xiaomi.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.oppo.is_virus %}
				<td><a name="{{key}}"></a><span class="label label-danger">报毒标签</span><img class="pic" src="{{value.oppo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.oppo.address %}
				<td><img class="pic" src="{{value.oppo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.vivo.is_virus %}
				<td><a name="{{key}}"></a><span class="label label-danger">报毒标签</span><img class="pic" src="{{value.vivo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.vivo.address %}
				<td><img class="pic" src="{{value.vivo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
		{% endfor %}

	</tbody>

	</table>
	<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" alt="图片地址错误，无法正常显示" />
    </div>
	</div>
    <div style="display: none;" id="rocket-to-top">
    <div style="opacity:0;display: block;" class="level-2"></div>
    <div class="level-3"></div>
</div>
<script type="text/javascript">
   $(function(){
        $(".pic").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
    $(function() {
    var e = $("#rocket-to-top"),
    t = $(document).scrollTop(),
    n,
    r,
    i = !0;
    $(window).scroll(function() {
        var t = $(document).scrollTop();
        t == 0 ? e.css("background-position") == "0px 0px" ? e.fadeOut("slow") : i && (i = !1, $(".level-2").css("opacity", 1), e.delay(100).animate({
            marginTop: "-1000px"
        },
        "normal",
        function() {
            e.css({
                "margin-top": "-125px",
                display: "none"
            }),
            i = !0
        })) : e.fadeIn("slow")
    }),
    e.hover(function() {
        $(".level-2").stop(!0).animate({
            opacity: 1
        })
    },
    function() {
        $(".level-2").stop(!0).animate({
            opacity: 0
        })
    }),
    $(".level-3").click(function() {
        function t() {
            var t = e.css("background-position");
            if (e.css("display") == "none" || i == 0) {
                clearInterval(n),
                e.css("background-position", "0px 0px");
                return
            }
            switch (t){
            case "0px 0px":
                e.css("background-position", "-298px 0px");
                break;
            case "-298px 0px":
                e.css("background-position", "-447px 0px");
                break;
            case "-447px 0px":
                e.css("background-position", "-596px 0px");
                break;
            case "-596px 0px":
                e.css("background-position", "-745px 0px");
                break;
            case "-745px 0px":
                e.css("background-position", "-298px 0px");
            }
        }
        if (!i) return;
        n = setInterval(t, 50),
        $("html,body").animate({scrollTop: 0},"slow");
    });
});
</script>
</body>

</html>