<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安装报毒测试报告</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
	table td {
    vertical-align: middle!important;
}
</style>
<body>
    <h2 style="text-align: center">华米OV安装报毒测试报告({{context.create_time}})</h2>
    <br/>
    <table class="table table-bordered">
    <thead>
		<tr>
            <th style="text-align: center">应用名称</th>
			<th style="text-align: center">华为</th>
			<th style="text-align: center">小米</th>
			<th style="text-align: center">OPPO</th>
			<th style="text-align: center">VIVO</th>
		</tr>
	</thead>
	<tbody style="text-align: center">
		{% for key,value in context.target_dict.items() %}
			<tr>
				<td>{{key}}<br>package_name:{{value.package_name}}<br>version_code:{{value.version_code}}<br>version_name:{{value.version_name}}</td>
				{% if value.huawei.is_virus %}
				<td><span class="label label-danger">危险标签</span><img class="pic" src="{{value.huawei.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.huawei.address %}
				<td><img class="pic" src="{{value.huawei.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.xiaomi.is_virus %}
				<td><span class="label label-danger">危险标签</span><img class="pic" src="{{value.xiaomi.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.xiaomi.address %}
				<td><img class="pic" src="{{value.xiaomi.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.oppo.is_virus %}
				<td><span class="label label-danger">危险标签</span><img class="pic" src="{{value.oppo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.oppo.address %}
				<td><img class="pic" src="{{value.oppo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
				{% if value.vivo.is_virus %}
				<td><span class="label label-danger">危险标签</span><img class="pic" src="{{value.vivo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% elif value.vivo.address %}
				<td><img class="pic" src="{{value.vivo.address}}" style="width: 250px;height: 400px" alt="图片地址错误，无法正常显示"></td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
		{% endfor %}

	</tbody>

	</table>
	<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" alt="图片地址错误，无法正常显示" />
    </div>
	</div>
<script type="text/javascript">
   $(function(){
        $(".pic").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
</script>
</body>

</html>